<body>
    {{>navbar}}
<table class="table table-light mx-auto mt-5" id="emp-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#if row}}
    {{#each row}}
      <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.email}}</td>
      <td class="text-end"><a class="btn btn-dark" type="button"  href="/employee?id={{this.id}}">View</a></td>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>
<div class="float-end pe-2">
  <a href="/employee/add" class="btn btn-dark">Add</a>
</div>
</body>