<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.first_name}}"
      placeholder="First Name"
      name="first_name"
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.last_name}}"
      placeholder="Last Name"
      name="last_name"
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.phone}}"
      placeholder="phone"
      name="phone"
    />
    <label for="floatingInput">Phone</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      value="{{this.email}}"
      placeholder="email@email.com"
      name="email"
    />
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Organization"
      id="floatingInput"
      name="organization"
      value="{{this.organization}}"
    />
    <label for="floatingInput">Organization</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      text="text"
      class="form-control"
      placeholder="Designation"
      id="floatingInput"
      name="designation"
      value="{{this.designation}}"
    />
    <label for="floatingInput">Designation</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="salary"
      id="floatingInput"
      name="salary"
      value="{{this.salary}}"
    />
    <label for="floatingInput">Salary</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>